html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Segoe UI", sans-serif;
  scroll-behavior: smooth !important;
}

a {
  text-decoration: none !important;
  color: #333;
  outline: none !important;
}

* {
  transition: 0.7s;
}

.top-margin-16 {
  margin-top: 16px !important;
}

h1 {
  color: #fff !important;
  font-weight: bold !important;
  font-size: 45px !important;
}

h2 {
  font-size: 40px !important;
  font-weight: bold !important;
  color: #2c3e50 !important;
}

h3 {
  color: #713fc9 !important;
  font-weight: bold !important;
  font-size: 25px !important;
}

h4 {
  font-size: 28px !important;
  font-weight: bold !important;
  color: #2c3e50 !important;
}

h5 {
  margin-top: 0 !important;
  font-size: 20px !important;
  font-weight: bold !important;
  color: #fff !important;
}

h6 {
  font-size: 18px !important;
  font-weight: bold !important;
  color: #fff !important;
  margin: 0 !important;
}

.secondary-color {
  color: #713fc9;
}

.btn-apply {
  color: #fff;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #713fc9;
  background-color: #713fc9;
}
.btn-apply:hover {
  background-color: #5e37a1;
  color: #fff;
}
@media (max-width: 576px) {
  .btn-apply {
    padding: 8px 12 px;
    font-size: 12px;
  }
}

.btn-apply-outline {
  color: #713fc9;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #713fc9;
  background-color: transparent;
}
.btn-apply-outline:hover {
  background-color: #e5d5ff;
  color: #713fc9;
}

.solid-action-btn {
  color: #fff;
  padding: 8px 24px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 40px;
  border: none;
  background-color: #713fc9;
}
.solid-action-btn:hover {
  background-color: #5e37a1;
  color: #fff;
}

.btn-outline-light {
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid #713fc9;
  color: #713fc9;
}
.btn-outline-light:hover {
  background-color: #713fc9;
  border: 1px solid #713fc9;
  color: #fff;
}

.login {
  position: relative;
  width: 100%;
  min-height: 100%;
  display: grid;
  background-position: center;
  background-size: cover;
  background-image: url(../images/background-image.svg);
}
.login .login-card {
  margin: auto;
  display: flex;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
}
.login .login-card .image-section img {
  width: 390px;
}
.login .login-card .form-section {
  padding: 20px 30px;
  width: 400px;
}
.login .login-card .form-section .top {
  margin-bottom: 1rem;
}
.login .login-card .form-section .top span {
  font-size: 10px;
}
.login .login-card .form-section .top .btn {
  font-size: 10px;
  padding: 3px 15px;
  font-weight: 600;
}
.login .login-card .form-section .form-content {
  line-height: 25px;
  margin-bottom: 0.5rem;
}
.login .login-card .form-section .form-content .heading {
  font-size: 19px;
  font-weight: bold;
}
.login .login-card .form-section .form-content form .tagline, .login .login-card .form-section .form-content form.register-form .tagline, .login .login-card .form-section .form-content form.otp-form .tagline {
  font-size: 14px;
  color: #707070;
  display: block;
  line-height: 18px;
  margin-bottom: 0.5rem;
}
.login .login-card .form-section .form-content form .form-label, .login .login-card .form-section .form-content form.register-form .form-label, .login .login-card .form-section .form-content form.otp-form .form-label {
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 0.2rem;
}
.login .login-card .form-section .form-content form .form-control, .login .login-card .form-section .form-content form.register-form .form-control, .login .login-card .form-section .form-content form.otp-form .form-control {
  border-width: 2px;
  color: #713fc9;
  font-weight: 500;
}
.login .login-card .form-section .form-content form .form-control::-webkit-input-placeholder, .login .login-card .form-section .form-content form.register-form .form-control::-webkit-input-placeholder, .login .login-card .form-section .form-content form.otp-form .form-control::-webkit-input-placeholder {
  font-size: 14px;
  font-weight: 400;
}
.login .login-card .form-section .form-content form .form-control:focus, .login .login-card .form-section .form-content form.register-form .form-control:focus, .login .login-card .form-section .form-content form.otp-form .form-control:focus {
  outline: none;
  box-shadow: none;
  border: 2px solid #713fc9;
}
.login .login-card .form-section .form-content form .form-text, .login .login-card .form-section .form-content form.register-form .form-text, .login .login-card .form-section .form-content form.otp-form .form-text {
  font-size: 10px;
  margin-top: 0;
  line-height: 16px;
}
.login .login-card .form-section .form-content form .forgot-link, .login .login-card .form-section .form-content form.register-form .forgot-link, .login .login-card .form-section .form-content form.otp-form .forgot-link {
  font-size: 14px;
  color: #713fc9;
}
.login .login-card .form-section .form-content form .password, .login .login-card .form-section .form-content form.register-form .password, .login .login-card .form-section .form-content form.otp-form .password {
  position: relative;
}
.login .login-card .form-section .form-content form .password #togglePassword, .login .login-card .form-section .form-content form.register-form .password #togglePassword, .login .login-card .form-section .form-content form.otp-form .password #togglePassword {
  position: absolute;
  right: 15px;
  bottom: 12px;
  cursor: pointer;
}
.login .login-card .form-section .form-content form.otp-form {
  display: none;
}
.login .login-card .form-section .form-content form.otp-form .resend {
  font-size: 12px;
}
.login .login-card .form-section .form-content .reset-done {
  position: relative;
  text-align: center;
  margin-top: 2rem;
  display: none;
}
.login .login-card .form-section .form-content .reset-done img {
  width: 150px;
}
.login .login-card .form-section .form-content .reset-done p {
  font-size: 14px;
  color: #707070;
  display: block;
  line-height: 18px;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}
.login .login-card .form-section .bottom {
  text-align: center;
}
.login .login-card .form-section .bottom .sep-line {
  display: block;
  position: relative;
  margin: 0.5rem 0;
  text-align: center;
}
.login .login-card .form-section .bottom .sep-line:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 2px;
  width: 100%;
  background-color: #eee;
  z-index: 0;
}
.login .login-card .form-section .bottom .sep-line b {
  margin: auto;
  font-weight: 500;
  font-size: 12px;
  display: inline-block;
  background-color: #ffffff;
  padding: 5px 16px;
  z-index: 1;
  position: relative;
}
.login .login-card .form-section .bottom .social-btn {
  padding: 4px;
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  border-radius: 50px;
  line-height: 10px;
  margin-right: 5px;
}
.login .login-card .form-section .bottom .social-btn img {
  width: 100%;
}
.login .login-card .form-section .bottom .concent-line {
  font-size: 10px;
}
@media (max-width: 768px) {
  .login .login-card .image-section {
    display: none;
  }
}
@media (max-width: 576px) {
  .login .login-card .form-section {
    width: 100%;
  }
}
@media (max-width: 420px) {
  .login .login-card .form-section {
    padding: 25px 18px;
  }
}

.error-box, .success-box {
  background-color: #ffdddd;
  border: 1px solid red;
  color: red;
  display: block;
  padding: 8px 10px;
  border-radius: 3px;
  margin-bottom: 1rem;
}
.error-box span, .success-box span {
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 700;
}

.success-box {
  background-color: #c4ffdd;
  border: 1px solid #0ba14a;
  color: #0ba14a;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 40px;
  width: 240px;
  background-color: #002154;
  transition: 0.5s;
  z-index: 1;
}
.sidebar .head {
  position: relative;
  width: 100%;
  height: initial;
  display: grid;
  padding: 10px 15px;
  background-color: #21395f;
}
.sidebar .head .logo {
  margin: auto;
  text-align: center;
}
.sidebar .head .logo img {
  width: 72%;
}
.sidebar .body {
  position: relative;
  position: relative;
  width: 100%;
  height: initial;
  display: grid;
  padding: 22px 20px;
}
.sidebar .body a, .sidebar .body .drop {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  padding: 10px 16px;
  margin-bottom: 10px;
  border-radius: 20px;
  transition: 0.5s;
}
.sidebar .body a:hover, .sidebar .body .drop:hover {
  background-color: #21395f;
}
.sidebar .body a .icon, .sidebar .body .drop .icon {
  margin-right: 10px;
}
.sidebar .body a .add-cat, .sidebar .body .drop .add-cat {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10.5px 12px;
  cursor: pointer;
}
.sidebar .body .drop {
  padding: 0;
}
.sidebar .body .drop a {
  padding: 10px 50px 10px 16px;
  margin-bottom: 0;
  display: block;
}
.sidebar .body .drop .dropdown a {
  padding: 10px 16px;
}
.sidebar .body .active {
  background-color: #21395f;
}
@media (max-width: 1080px) {
  .sidebar {
    left: -240px;
  }
}

.closeside {
  left: -240px;
  transition: 0.5s;
}
@media (max-width: 1080px) {
  .closeside {
    left: 0px;
  }
}
@media (max-width: 992px) {
  .closeside {
    left: 0px;
    z-index: 1;
  }
}

header {
  position: fixed;
  left: 240px;
  height: 60px;
  right: 0;
  top: 0;
  background-color: #ffffff;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.1882352941);
  transition: 0.5s;
  z-index: 10;
}
header .head {
  position: relative;
  padding: 0 30px;
  background-color: #f5f5f5;
  height: inherit;
  display: grid;
  grid-template-columns: 36px auto 200px;
}
header .head .btnmenu {
  width: 35px;
  padding: 6px;
  margin: auto;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
  cursor: pointer;
}
header .head .btnmenu .bars {
  position: relative;
  display: block;
  height: 4px;
  border-radius: 100px;
  margin-bottom: 3px;
  background-color: #21395f;
}
header .head .notify {
  text-align: right;
  margin: auto 25px;
  font-size: 22px;
  color: #21395f;
}
header .head .notify .icon {
  position: relative;
  padding: 6px;
  margin-left: 10px;
  cursor: pointer;
}
header .head .notify .icon .count {
  position: absolute;
  top: -2px;
  right: 0;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  text-align: center;
  font-size: 10px;
  color: #f5f5f5;
  line-height: 1.8;
  border: 2px solid #f5f5f5;
  background-color: orangered;
}
header .head .sub-admin {
  position: relative;
  display: flex;
  border-left: 0.5px dashed #bbbbbb;
  padding: 5px 0;
  cursor: pointer;
}
header .head .sub-admin .pic {
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #fff;
  margin: auto 10px;
  overflow: hidden;
  box-shadow: 0.5px 0.5px 3px 0 rgba(0, 0, 0, 0.3764705882);
}
header .head .sub-admin .pic img {
  width: 100%;
}
header .head .sub-admin .title {
  display: grid;
  margin: auto 12px auto 0;
}
header .head .sub-admin .title strong {
  font-size: 16px;
  color: #21395f;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
header .head .sub-admin .title small {
  font-size: 12px;
  color: #21395f;
}
header .head .sub-admin .fa-caret-down {
  position: absolute;
  right: 0;
  top: 25px;
  font-size: 18px;
  color: #21395f;
}
header .head .sub-admin .dropdown {
  position: absolute;
  display: none;
  right: 0;
  top: 60px;
  z-index: -1;
  background-color: #fff;
  box-shadow: 0 1px 15px 1px rgba(0, 0, 0, 0.2509803922);
}
header .head .sub-admin .dropdown .item {
  display: block;
  padding: 10px 75px;
  border-bottom: 3px solid #fff;
  text-decoration: none;
  color: #707070;
}
header .head .sub-admin .dropdown .item:hover {
  transition: 0.9s;
  background-color: rgba(51, 51, 51, 0.1882352941);
  border-bottom: 3px solid #21395f;
}
header .head .sub-admin:hover .dropdown {
  display: block;
}
header .body {
  position: relative;
  padding: 20px;
}
header .body .card {
  position: relative;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1254901961);
}
header .body .card .heading {
  width: 100%;
  background-color: #21395f;
}
header .body .card .content {
  display: grid;
  grid-template-columns: auto auto;
  padding: 30px 20px;
  margin-bottom: 30px;
}
header .body .card .content .title {
  display: grid;
  color: #6C6C6C;
}
header .body .card .content .title small {
  font-size: 14px;
}
header .body .card .content .title strong {
  font-size: 20px;
}
header .body .card .content .variable {
  font-size: 28px;
  color: #737373;
  font-weight: bold;
  text-align: right;
  margin: auto 0;
}
header .body .card .view {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding: 8px;
  color: #737373;
  font-size: 13px;
  background-color: #F5F5F5;
}
header .body .card-dark {
  border-radius: 2px;
  box-shadow: none;
  background-color: #21395f;
  color: #fff;
  font-size: 12px;
}
header .body .card-dark .content {
  display: block;
  padding: 14px;
}
header .body .card-dark .view {
  background-color: transparent;
  color: #fff;
}
header .body .box {
  position: relative;
  width: 100%;
  height: 280px;
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1254901961);
  transition: 0.5s;
}
header .body .box .refund, header .body .box .cancel {
  padding: 5px;
  cursor: pointer;
  color: #008A90;
}
header .body .box .border {
  border: none !important;
  border-bottom: 2px solid #008A90 !important;
}
header .body .box .refund-box {
  display: block;
}
header .body .box .cancel-box {
  display: none;
}
header .body .table-primary, header .body .table-primary > th, header .body .table-primary > td {
  background-color: #008A90;
  color: #ffffff;
}
header .body .table th, header .body .table td {
  padding: 5px;
  border: none;
}
header .body .card1 {
  position: relative;
  border: none;
  border-radius: 5px;
  display: grid;
  padding: 10px 30px;
  border: 2px solid #DBDBDB;
  cursor: pointer;
}
header .body .card1:hover {
  background-color: #008A90;
  border: 2px solid #008A90;
}
header .body .card1:hover .title {
  color: #ffffff;
}
header .body .card1 .title {
  display: grid;
  color: #707070;
  margin: auto;
}
header .body .card1 .title small {
  font-size: 14px;
  margin: auto;
}
header .body .card1 .title strong {
  font-size: 20px;
  margin: auto;
}
header .body .search-box {
  position: relative;
  color: #dbdbdb;
}
header .body .search-box .search {
  border-radius: 200px;
  border: 2px solid #dbdbdb;
  padding: 5px 15px;
  color: #000;
  outline: none;
  width: 280px;
}
header .body .search-box i {
  position: absolute;
  top: 10px;
  right: 10px;
}
@media (max-width: 1080px) {
  header {
    left: 0;
  }
  header .head {
    padding: 0 65px;
  }
}
@media (max-width: 556px) {
  header .body {
    padding: 0px;
  }
  header .head {
    padding: 0 10px;
    grid-template-columns: 36px auto 50px;
  }
  header .head .notify {
    margin: auto 16px;
  }
  header .head .sub-admin {
    border-left: none;
    display: block;
  }
  header .head .sub-admin .pic {
    margin: auto;
  }
  header .head .sub-admin .title, header .head .sub-admin .fa-caret-down {
    display: none;
  }
}

.expand-main {
  left: 0 !important;
}
.expand-main .head {
  padding: 0 120px;
}
@media (max-width: 1080px) {
  .expand-main {
    left: 240px;
  }
  .expand-main .head {
    padding: 0 30px;
  }
}
@media (max-width: 992px) {
  .expand-main {
    left: 0px;
  }
  .expand-main .head {
    padding: 0 10px;
  }
  .expand-main .head .btnmenu {
    z-index: 10;
  }
  .expand-main .head .btnmenu .top {
    transform: rotateY(0deg) rotate(-45deg);
  }
  .expand-main .head .btnmenu .center {
    left: 5px;
  }
  .expand-main .head .btnmenu .bottom {
    transform: rotateY(0deg) rotate(45deg);
  }
}

.content {
  position: absolute;
  left: 240px;
  top: 60px;
  right: 0;
  bottom: 40px;
  overflow-y: scroll;
}
.content::-webkit-scrollbar {
  width: 3.5px;
}
.content::-webkit-scrollbar-thumb {
  background: #a09e9e;
  border-radius: 5px;
}
.content .dashboard, .content .contact, .content .campaign {
  margin-top: 10px;
}
.content .dashboard .heading, .content .contact .heading, .content .campaign .heading {
  color: #808080 !important;
  font-size: 30px;
  font-weight: bold;
}
.content .dashboard .progress-bar, .content .contact .progress-bar, .content .campaign .progress-bar {
  background-color: transparent;
}
.content .dashboard .progress-bar .level, .content .contact .progress-bar .level, .content .campaign .progress-bar .level {
  font-size: 18px;
  color: rgba(34, 34, 34, 0.3764705882);
}
.content .dashboard .progress-bar .level-active, .content .contact .progress-bar .level-active, .content .campaign .progress-bar .level-active {
  font-weight: bold;
  color: #4959D8;
}
.content .dashboard .progress-bar .level-done, .content .contact .progress-bar .level-done, .content .campaign .progress-bar .level-done {
  font-weight: bold;
  color: #713fc9;
}
.content .dashboard .progress-bar .line, .content .contact .progress-bar .line, .content .campaign .progress-bar .line {
  display: inline-block;
  height: 3px;
  width: 80px;
  background-color: rgba(34, 34, 34, 0.3764705882);
  margin: 5px 10px;
}
.content .dashboard .progress-bar .line-done, .content .contact .progress-bar .line-done, .content .campaign .progress-bar .line-done {
  background-color: #713fc9;
}
.content .dashboard .card, .content .contact .card, .content .campaign .card {
  position: relative;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.2509803922);
}
.content .dashboard .card:hover, .content .contact .card:hover, .content .campaign .card:hover {
  box-shadow: 0px 6px 13px 2px rgba(0, 0, 0, 0.3137254902);
  transform: translate(0, -3px);
}
.content .dashboard .card:hover .view, .content .contact .card:hover .view, .content .campaign .card:hover .view {
  background-color: #21395f;
  color: #fff;
}
.content .dashboard .card:hover .description .detail, .content .contact .card:hover .description .detail, .content .campaign .card:hover .description .detail {
  transform: scale(1);
}
.content .dashboard .card .heading, .content .contact .card .heading, .content .campaign .card .heading {
  width: 100%;
  color: #fff !important;
  font-size: 18px;
  padding: 8px 10px;
  background-color: #21395f;
}
.content .dashboard .card .card-content, .content .contact .card .card-content, .content .campaign .card .card-content {
  display: grid;
  grid-template-columns: auto auto;
  padding: 30px 20px;
  margin-bottom: 30px;
}
.content .dashboard .card .card-content .title, .content .contact .card .card-content .title, .content .campaign .card .card-content .title {
  display: grid;
  color: #6C6C6C;
}
.content .dashboard .card .card-content .title small, .content .contact .card .card-content .title small, .content .campaign .card .card-content .title small {
  font-size: 14px;
}
.content .dashboard .card .card-content .title strong, .content .contact .card .card-content .title strong, .content .campaign .card .card-content .title strong {
  font-size: 20px;
}
.content .dashboard .card .card-content .variable, .content .contact .card .card-content .variable, .content .campaign .card .card-content .variable {
  font-size: 28px;
  color: #737373;
  font-weight: bold;
  text-align: right;
  margin: auto 0;
}
.content .dashboard .card .card-content #demo, .content .contact .card .card-content #demo, .content .campaign .card .card-content #demo {
  font-size: 22px;
  color: #21395f;
  font-weight: bold;
  text-align: right;
  margin: auto 0;
}
.content .dashboard .card .notification, .content .contact .card .notification, .content .campaign .card .notification {
  height: 280px;
  overflow-y: scroll;
}
.content .dashboard .card .notification .message, .content .contact .card .notification .message, .content .campaign .card .notification .message {
  position: relative;
  font-size: 14px;
  padding: 5px 8px 16px 8px;
  border-bottom: thin solid rgba(0, 0, 0, 0.062745098);
}
.content .dashboard .card .notification .message .time, .content .contact .card .notification .message .time, .content .campaign .card .notification .message .time {
  position: absolute;
  bottom: 0;
  right: 5px;
  font-size: 10px;
}
.content .dashboard .card .notification .message:hover, .content .contact .card .notification .message:hover, .content .campaign .card .notification .message:hover {
  background-color: #eee;
}
.content .dashboard .card ::-webkit-scrollbar, .content .contact .card ::-webkit-scrollbar, .content .campaign .card ::-webkit-scrollbar {
  width: 4px;
}
.content .dashboard .card ::-webkit-scrollbar-track, .content .contact .card ::-webkit-scrollbar-track, .content .campaign .card ::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.content .dashboard .card ::-webkit-scrollbar-thumb, .content .contact .card ::-webkit-scrollbar-thumb, .content .campaign .card ::-webkit-scrollbar-thumb {
  background: #888;
}
.content .dashboard .card ::-webkit-scrollbar-thumb:hover, .content .contact .card ::-webkit-scrollbar-thumb:hover, .content .campaign .card ::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.content .dashboard .card .view, .content .contact .card .view, .content .campaign .card .view {
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  padding: 8px;
  color: #737373;
  font-size: 13px;
  border-radius: 0 0 5px 5px;
  background-color: #F5F5F5;
}
.content .dashboard .card .description, .content .contact .card .description, .content .campaign .card .description {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}
.content .dashboard .card .description .image, .content .contact .card .description .image, .content .campaign .card .description .image {
  width: 100%;
  overflow: hidden;
}
.content .dashboard .card .description .image img, .content .contact .card .description .image img, .content .campaign .card .description .image img {
  width: 100%;
}
.content .dashboard .card .description .detail, .content .contact .card .description .detail, .content .campaign .card .description .detail {
  background-color: #eee;
  padding: 10px;
}
.content .dashboard .card .description .detail .heads, .content .contact .card .description .detail .heads, .content .campaign .card .description .detail .heads {
  font-size: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #222;
  font-weight: 400;
}
.content .dashboard .card .description .detail .remain, .content .dashboard .card .description .detail .price, .content .dashboard .card .description .detail .time, .content .contact .card .description .detail .remain, .content .contact .card .description .detail .price, .content .contact .card .description .detail .time, .content .campaign .card .description .detail .remain, .content .campaign .card .description .detail .price, .content .campaign .card .description .detail .time {
  color: #222;
  font-size: 15px;
  font-weight: lighter;
}
.content .dashboard .card .description .detail .price i, .content .contact .card .description .detail .price i, .content .campaign .card .description .detail .price i {
  font-size: 16px;
  margin-right: 3px;
}
.content .dashboard .card .description .detail .time, .content .contact .card .description .detail .time, .content .campaign .card .description .detail .time {
  font-size: 16px;
}
.content .dashboard .card .action .btn, .content .contact .card .action .btn, .content .campaign .card .action .btn {
  width: 100%;
  color: #fff;
}
.content .dashboard .card .action .btn-doc, .content .contact .card .action .btn-doc, .content .campaign .card .action .btn-doc {
  border-radius: 0;
  background-color: #008b2a;
}
.content .dashboard .card .action .btn-doc:hover, .content .contact .card .action .btn-doc:hover, .content .campaign .card .action .btn-doc:hover {
  background-color: #008829;
}
.content .dashboard .card .action .btn-view, .content .contact .card .action .btn-view, .content .campaign .card .action .btn-view {
  border-radius: 0 0 0 5px;
  background-color: #1c4992;
}
.content .dashboard .card .action .btn-view:hover, .content .contact .card .action .btn-view:hover, .content .campaign .card .action .btn-view:hover {
  background-color: #21395f;
}
.content .dashboard .card .action .btn-edit, .content .contact .card .action .btn-edit, .content .campaign .card .action .btn-edit {
  border-radius: 0;
  background-color: #808080;
}
.content .dashboard .card .action .btn-edit:hover, .content .contact .card .action .btn-edit:hover, .content .campaign .card .action .btn-edit:hover {
  background-color: #707070;
}
.content .dashboard .card .action .btn-delete, .content .contact .card .action .btn-delete, .content .campaign .card .action .btn-delete {
  border-radius: 0 0 5px 0;
  background-color: #aa0000;
}
.content .dashboard .card .action .btn-delete:hover, .content .contact .card .action .btn-delete:hover, .content .campaign .card .action .btn-delete:hover {
  background-color: #740000;
}
.content .dashboard .box .image, .content .contact .box .image, .content .campaign .box .image {
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
}
.content .dashboard .box .image img, .content .contact .box .image img, .content .campaign .box .image img {
  width: 100%;
}
.content .dashboard .box .head, .content .contact .box .head, .content .campaign .box .head {
  color: #808080;
}
.content .dashboard .box .head .title-head, .content .contact .box .head .title-head, .content .campaign .box .head .title-head {
  color: #333;
  margin-right: 20px;
  font-weight: 800;
}
.content .dashboard .box .head i, .content .contact .box .head i, .content .campaign .box .head i {
  font-size: 20px;
  margin-right: 5px;
}
.content .dashboard .btn-option, .content .contact .btn-option, .content .campaign .btn-option {
  display: none;
}
.content .dashboard ul.nav, .content .dashboard .nav-tabs, .content .contact ul.nav, .content .contact .nav-tabs, .content .campaign ul.nav, .content .campaign .nav-tabs {
  border-color: #713fc9;
}
.content .dashboard ul.nav .nav-item, .content .dashboard .nav-tabs .nav-item, .content .contact ul.nav .nav-item, .content .contact .nav-tabs .nav-item, .content .campaign ul.nav .nav-item, .content .campaign .nav-tabs .nav-item {
  position: relative;
}
.content .dashboard ul.nav .nav-item .nav-link, .content .dashboard .nav-tabs .nav-item .nav-link, .content .contact ul.nav .nav-item .nav-link, .content .contact .nav-tabs .nav-item .nav-link, .content .campaign ul.nav .nav-item .nav-link, .content .campaign .nav-tabs .nav-item .nav-link {
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}
.content .dashboard ul.nav .nav-item .nav-link:hover, .content .dashboard .nav-tabs .nav-item .nav-link:hover, .content .contact ul.nav .nav-item .nav-link:hover, .content .contact .nav-tabs .nav-item .nav-link:hover, .content .campaign ul.nav .nav-item .nav-link:hover, .content .campaign .nav-tabs .nav-item .nav-link:hover {
  color: #713fc9;
  border-color: #713fc9;
}
.content .dashboard ul.nav .nav-item .nav-link:focus, .content .dashboard .nav-tabs .nav-item .nav-link:focus, .content .contact ul.nav .nav-item .nav-link:focus, .content .contact .nav-tabs .nav-item .nav-link:focus, .content .campaign ul.nav .nav-item .nav-link:focus, .content .campaign .nav-tabs .nav-item .nav-link:focus {
  border-color: #713fc9;
}
.content .dashboard ul.nav .nav-item .active, .content .dashboard .nav-tabs .nav-item .active, .content .contact ul.nav .nav-item .active, .content .contact .nav-tabs .nav-item .active, .content .campaign ul.nav .nav-item .active, .content .campaign .nav-tabs .nav-item .active {
  color: #fff;
  background-color: #713fc9;
  border-color: #713fc9;
}
.content .dashboard ul.nav .nav-item .active:hover, .content .dashboard .nav-tabs .nav-item .active:hover, .content .contact ul.nav .nav-item .active:hover, .content .contact .nav-tabs .nav-item .active:hover, .content .campaign ul.nav .nav-item .active:hover, .content .campaign .nav-tabs .nav-item .active:hover {
  color: #fff;
}
.content .dashboard ul.nav .nav-item .active:after, .content .dashboard .nav-tabs .nav-item .active:after, .content .contact ul.nav .nav-item .active:after, .content .contact .nav-tabs .nav-item .active:after, .content .campaign ul.nav .nav-item .active:after, .content .campaign .nav-tabs .nav-item .active:after {
  content: "";
  position: absolute;
  -webkit-clip-path: polygon(100% 0, 0 0, 50% 60%);
          clip-path: polygon(100% 0, 0 0, 50% 60%);
  bottom: -10px;
  right: 0;
  left: 8px;
  height: 10px;
  width: 16px;
  text-align: center;
  background-color: #713fc9;
  border: #713fc9;
}
.content .dashboard .campaign-form, .content .dashboard .recent-template, .content .dashboard .my-template, .content .contact .campaign-form, .content .contact .recent-template, .content .contact .my-template, .content .campaign .campaign-form, .content .campaign .recent-template, .content .campaign .my-template {
  padding: 0 50px;
}
.content .dashboard .campaign-form .head, .content .dashboard .recent-template .head, .content .dashboard .my-template .head, .content .contact .campaign-form .head, .content .contact .recent-template .head, .content .contact .my-template .head, .content .campaign .campaign-form .head, .content .campaign .recent-template .head, .content .campaign .my-template .head {
  font-size: 24px;
  font-weight: 700;
  color: #713fc9;
}
.content .dashboard .campaign-form .form-text, .content .dashboard .recent-template .form-text, .content .dashboard .my-template .form-text, .content .contact .campaign-form .form-text, .content .contact .recent-template .form-text, .content .contact .my-template .form-text, .content .campaign .campaign-form .form-text, .content .campaign .recent-template .form-text, .content .campaign .my-template .form-text {
  font-size: 12px;
}
.content .dashboard .campaign-form .variable-form, .content .dashboard .recent-template .variable-form, .content .dashboard .my-template .variable-form, .content .contact .campaign-form .variable-form, .content .contact .recent-template .variable-form, .content .contact .my-template .variable-form, .content .campaign .campaign-form .variable-form, .content .campaign .recent-template .variable-form, .content .campaign .my-template .variable-form {
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1254901961);
}
.content .dashboard .campaign-form .add_variable, .content .dashboard .recent-template .add_variable, .content .dashboard .my-template .add_variable, .content .contact .campaign-form .add_variable, .content .contact .recent-template .add_variable, .content .contact .my-template .add_variable, .content .campaign .campaign-form .add_variable, .content .campaign .recent-template .add_variable, .content .campaign .my-template .add_variable {
  font-size: 14px;
  cursor: pointer;
}
.content .dashboard .recent-template, .content .dashboard .my-template, .content .contact .recent-template, .content .contact .my-template, .content .campaign .recent-template, .content .campaign .my-template {
  display: none;
}
.content .dashboard .recent-template .card, .content .dashboard .my-template .card, .content .contact .recent-template .card, .content .contact .my-template .card, .content .campaign .recent-template .card, .content .campaign .my-template .card {
  height: 320px;
  overflow: hidden;
  box-shadow: 1px 0 3px 1px rgba(0, 0, 0, 0.1882352941);
}
.content .dashboard .saved-template, .content .contact .saved-template, .content .campaign .saved-template {
  padding: 0 50px;
}
.content .dashboard .saved-template .template, .content .contact .saved-template .template, .content .campaign .saved-template .template {
  padding: 16px;
  border-radius: 5px;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.1882352941);
}
.content .dashboard #recipient, .content .contact #recipient, .content .campaign #recipient {
  padding: 0 50px;
}
.content .dashboard #preview, .content .contact #preview, .content .campaign #preview {
  padding: 0 50px;
}
.content .dashboard #preview .mail-preview, .content .contact #preview .mail-preview, .content .campaign #preview .mail-preview {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 1px 0 3px 1px rgba(0, 0, 0, 0.1882352941);
}
.content .dashboard #preview .mail-preview .head, .content .contact #preview .mail-preview .head, .content .campaign #preview .mail-preview .head {
  padding: 16px;
  background-color: #f5f5f5;
}
.content .dashboard #preview .mail-preview .head .mail-detail strong, .content .contact #preview .mail-preview .head .mail-detail strong, .content .campaign #preview .mail-preview .head .mail-detail strong {
  font-weight: 600 !important;
  color: #303030;
  font-size: 17px;
}
.content .dashboard #preview .mail-preview .head .mail-detail .title, .content .contact #preview .mail-preview .head .mail-detail .title, .content .campaign #preview .mail-preview .head .mail-detail .title {
  font-size: 22px;
}
.content .dashboard #preview .mail-preview .head .mail-detail .title strong, .content .contact #preview .mail-preview .head .mail-detail .title strong, .content .campaign #preview .mail-preview .head .mail-detail .title strong {
  font-size: 22px;
}
.content .dashboard #preview .mail-preview .screen-size, .content .contact #preview .mail-preview .screen-size, .content .campaign #preview .mail-preview .screen-size {
  padding: 16px;
  border-bottom: thin solid rgba(0, 0, 0, 0.1882352941);
}
.content .dashboard #preview .mail-preview .screen-size .heading, .content .contact #preview .mail-preview .screen-size .heading, .content .campaign #preview .mail-preview .screen-size .heading {
  font-weight: 600;
  font-size: 22px;
  color: #555;
  margin-bottom: 0;
}
.content .dashboard #preview .mail-preview .screen-size i, .content .contact #preview .mail-preview .screen-size i, .content .campaign #preview .mail-preview .screen-size i {
  font-size: 15px;
}
.content .dashboard #preview .mail-preview .screen-size .btn-check:checked + .btn-outline-primary, .content .contact #preview .mail-preview .screen-size .btn-check:checked + .btn-outline-primary, .content .campaign #preview .mail-preview .screen-size .btn-check:checked + .btn-outline-primary {
  background-color: #713fc9;
  border-color: #713fc9;
  color: #fff;
}
.content .dashboard #preview .mail-preview .screen-size .btn-check:checked + .btn-outline-primary:focus, .content .contact #preview .mail-preview .screen-size .btn-check:checked + .btn-outline-primary:focus, .content .campaign #preview .mail-preview .screen-size .btn-check:checked + .btn-outline-primary:focus {
  box-shadow: none;
}
.content .dashboard #preview .mail-preview .screen-size .btn-check:hover + .btn-outline-primary, .content .contact #preview .mail-preview .screen-size .btn-check:hover + .btn-outline-primary, .content .campaign #preview .mail-preview .screen-size .btn-check:hover + .btn-outline-primary {
  background-color: #713fc9;
  border-color: #713fc9;
  color: #fff;
}
.content .dashboard #preview .mail-preview .screen-size .btn:focus, .content .dashboard #preview .mail-preview .screen-size .btn-outline-primary:focus, .content .dashboard #preview .mail-preview .screen-size .btn-check:focus, .content .contact #preview .mail-preview .screen-size .btn:focus, .content .contact #preview .mail-preview .screen-size .btn-outline-primary:focus, .content .contact #preview .mail-preview .screen-size .btn-check:focus, .content .campaign #preview .mail-preview .screen-size .btn:focus, .content .campaign #preview .mail-preview .screen-size .btn-outline-primary:focus, .content .campaign #preview .mail-preview .screen-size .btn-check:focus {
  box-shadow: none;
}
.content .dashboard #preview .mail-preview .screen-size .btn-outline-primary, .content .contact #preview .mail-preview .screen-size .btn-outline-primary, .content .campaign #preview .mail-preview .screen-size .btn-outline-primary {
  color: #713fc9;
  border-color: #713fc9;
  padding: 2px 10px;
}
.content .dashboard #preview .mail-preview .body, .content .contact #preview .mail-preview .body, .content .campaign #preview .mail-preview .body {
  padding: 16px;
  display: flex;
}
.content .dashboard #preview .mail-preview .body .email-body, .content .contact #preview .mail-preview .body .email-body, .content .campaign #preview .mail-preview .body .email-body {
  margin: auto;
  width: 100%;
}
.content .dashboard #preview .mail-recepients, .content .contact #preview .mail-recepients, .content .campaign #preview .mail-recepients {
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 1px 0 3px 1px rgba(0, 0, 0, 0.1882352941);
  padding: 16px;
}
.content .dashboard #preview .mail-recepients .heading, .content .contact #preview .mail-recepients .heading, .content .campaign #preview .mail-recepients .heading {
  font-weight: 600;
  font-size: 22px;
  color: #555;
  margin-bottom: 0;
}
.content .dashboard #preview .mail-recepients .card, .content .contact #preview .mail-recepients .card, .content .campaign #preview .mail-recepients .card {
  display: grid;
  padding: 16px;
  text-align: center;
  box-shadow: 1px 0 3px 1px rgba(0, 0, 0, 0.1882352941);
}
.content .dashboard #submission, .content .contact #submission, .content .campaign #submission {
  padding: 0 50px;
  min-height: 300px;
}
.content .dashboard #submission .head, .content .contact #submission .head, .content .campaign #submission .head {
  font-size: 16px;
  color: #707070;
  font-weight: 600;
}
.content .dashboard #submission .schedule, .content .contact #submission .schedule, .content .campaign #submission .schedule {
  display: inline;
  position: relative;
  padding-left: 28px;
  margin-right: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.content .dashboard #submission .schedule:hover input ~ .checkmark, .content .contact #submission .schedule:hover input ~ .checkmark, .content .campaign #submission .schedule:hover input ~ .checkmark {
  background-color: #ccc;
}
.content .dashboard #submission .schedule input, .content .contact #submission .schedule input, .content .campaign #submission .schedule input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.content .dashboard #submission .schedule input:checked ~ .checkmark, .content .contact #submission .schedule input:checked ~ .checkmark, .content .campaign #submission .schedule input:checked ~ .checkmark {
  background-color: #713fc9;
}
.content .dashboard #submission .schedule input:checked ~ .checkmark:after, .content .contact #submission .schedule input:checked ~ .checkmark:after, .content .campaign #submission .schedule input:checked ~ .checkmark:after {
  display: block;
}
.content .dashboard #submission .schedule .checkmark, .content .contact #submission .schedule .checkmark, .content .campaign #submission .schedule .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 22px;
  width: 22px;
  background-color: #eee;
  border-radius: 50%;
}
.content .dashboard #submission .schedule .checkmark:after, .content .contact #submission .schedule .checkmark:after, .content .campaign #submission .schedule .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  top: 6.5px;
  left: 7px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}
.content .dashboard #submission ul.category, .content .contact #submission ul.category, .content .campaign #submission ul.category {
  display: flex;
}
.content .dashboard #submission ul.category li label, .content .contact #submission ul.category li label, .content .campaign #submission ul.category li label {
  height: unset;
  padding: 7px 10px;
  font-size: 15px;
  margin-right: 8px;
  box-shadow: none;
  border: 1px solid #ced4da;
}
.content .dashboard #recurrence, .content .contact #recurrence, .content .campaign #recurrence {
  display: none;
}
.content .dashboard ul.category, .content .contact ul.category, .content .campaign ul.category {
  list-style: none;
  padding: 0;
  flex: auto;
  margin-bottom: 0;
  background-color: #fff;
  height: 100%;
  border-radius: 5px;
  font-weight: bold;
}
.content .dashboard ul.category .contacts, .content .contact ul.category .contacts, .content .campaign ul.category .contacts {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}
.content .dashboard ul.category li, .content .contact ul.category li, .content .campaign ul.category li {
  display: inline-block;
  position: relative;
  width: 100%;
}
.content .dashboard ul.category li input[type=checkbox], .content .dashboard ul.category li input[type=radio], .content .contact ul.category li input[type=checkbox], .content .contact ul.category li input[type=radio], .content .campaign ul.category li input[type=checkbox], .content .campaign ul.category li input[type=radio] {
  display: absolute;
  position: absolute;
  left: 8px;
  top: 10px;
  opacity: 0;
}
.content .dashboard ul.category li input[type=checkbox]:checked + label, .content .dashboard ul.category li input[type=radio]:checked + label, .content .contact ul.category li input[type=checkbox]:checked + label, .content .contact ul.category li input[type=radio]:checked + label, .content .campaign ul.category li input[type=checkbox]:checked + label, .content .campaign ul.category li input[type=radio]:checked + label {
  background-color: rgba(113, 63, 201, 0.1);
  color: #713fc9;
  transition: all 0.2s;
}
.content .dashboard ul.category li label, .content .contact ul.category li label, .content .campaign ul.category li label {
  display: grid;
  background-color: #fff;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.0784313725);
  margin: 8px 0;
  font-size: 17px;
  height: 110px;
  border-radius: 8px;
  align-items: center;
  text-align: center;
  color: rgba(0, 0, 0, 0.7333333333);
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all 0.2s;
  padding: 12px;
  cursor: pointer;
}
.content .dashboard ul.category li label:hover, .content .contact ul.category li label:hover, .content .campaign ul.category li label:hover {
  background-color: #f8f4ff;
}
.content .dashboard .empty-tag, .content .contact .empty-tag, .content .campaign .empty-tag {
  position: relative;
  width: 30%;
  margin: auto;
}
.content .dashboard .empty-tag img, .content .contact .empty-tag img, .content .campaign .empty-tag img {
  width: 100%;
}
.content .setting {
  margin-top: 10px;
}
.content .setting .card {
  padding: 16px 32px;
  box-shadow: 1px 0 3px 1px rgba(0, 0, 0, 0.1882352941);
}
.content .setting .card .heading {
  color: #808080 !important;
  font-size: 25px;
  font-weight: bold;
}
.content .setting .card .profile-pic {
  position: relative;
  width: 180px;
  height: 180px;
  overflow: hidden;
  margin: auto;
  display: flex;
}
.content .setting .card .profile-pic .pic-box {
  width: 95%;
  height: 95%;
  border-radius: 50%;
  margin: auto;
  overflow: hidden;
  border: 4px solid #fff;
  box-shadow: 0.5px 0.5px 4px 1px rgba(0, 0, 0, 0.4);
}
.content .setting .card .profile-pic .pic-box img {
  width: 100%;
}
.content .setting .card .profile-pic .pic-edit {
  position: absolute;
  display: flex;
  right: 5px;
  top: 5px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #fff;
  box-shadow: 0.5px 0.5px 4px 1px rgba(0, 0, 0, 0.4);
}
.content .setting .card .profile-pic .pic-edit i {
  margin: auto;
  color: #713fc9;
  font-size: 24px;
}
.content .setting .card .edit-basic-detail, .content .setting .card .Password-update {
  position: absolute;
  right: 10px;
  top: 5px;
  cursor: pointer;
}
.content .setting .card .edit-basic-detail i, .content .setting .card .Password-update i {
  margin-left: 5px;
  color: #713fc9;
  font-size: 18px;
}
.content .setting .card .user-name {
  font-size: 25px;
  font-weight: 600;
  position: relative;
}
.content .setting .card .current-description .item {
  margin-top: 2px;
}
.content .setting .card .current-description .item .item-icon {
  margin-right: 10px;
}
.content .setting .card .form-check-input:checked {
  background-color: #713fc9;
  border-color: #713fc9;
}
.content .setting .card .form-check-input:focus {
  border-color: rgba(113, 63, 201, 0.8);
  box-shadow: 0 0 0 0.25rem rgba(113, 63, 201, 0.2);
}
@media (max-width: 1080px) {
  .content {
    left: 0px;
  }
  .content .dashboard .empty-tag, .content .contact .empty-tag {
    width: 60%;
  }
  .content #recipient, .content #submission, .content #preview, .content .campaign-form, .content .recent-template, .content .my-template {
    padding: 0 !important;
  }
}
@media (max-width: 576px) {
  .content .dashboard .empty-tag, .content .contact .empty-tag {
    width: 80%;
  }
  .content .setting .card {
    padding: 16px;
  }
}

.model, .model-edit, .model-resource {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.8666666667);
}
.model:-webkit-scrollbar, .model-edit:-webkit-scrollbar, .model-resource:-webkit-scrollbar {
  width: 2px;
}
.model .new, .model-edit .new, .model-resource .new {
  position: relative;
  padding: 40px 30px;
  border-radius: 5px;
  margin: auto;
  max-width: 576px;
  min-width: 300px;
  background-color: #f9f9f9;
}
.model .new .heading, .model-edit .new .heading, .model-resource .new .heading {
  color: #808080 !important;
  font-size: 30px;
  font-weight: bold;
}
.model .new .add_category, .model-edit .new .add_category, .model-resource .new .add_category {
  font-size: 12px;
  color: #713fc9;
}
.model .new .add_category i, .model-edit .new .add_category i, .model-resource .new .add_category i {
  font-size: 10px;
}
.model .new ul.category, .model-edit .new ul.category, .model-resource .new ul.category {
  list-style: none;
  padding: 0;
  flex: auto;
  margin-bottom: 0;
  border: 1px solid #ced4da;
  background-color: #fff;
  height: 150px;
  overflow-y: scroll;
  border-radius: 5px;
}
.model .new ul.category::-webkit-scrollbar, .model-edit .new ul.category::-webkit-scrollbar, .model-resource .new ul.category::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0.05);
  height: 5px;
  width: 4px;
}
.model .new ul.category::-webkit-scrollbar-thumb, .model-edit .new ul.category::-webkit-scrollbar-thumb, .model-resource .new ul.category::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  height: 5px;
}
.model .new ul.category::-webkit-scrollbar-thumb:hover, .model-edit .new ul.category::-webkit-scrollbar-thumb:hover, .model-resource .new ul.category::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
}
.model .new ul.category li, .model-edit .new ul.category li, .model-resource .new ul.category li {
  display: block;
  position: relative;
}
.model .new ul.category li input[type=checkbox], .model-edit .new ul.category li input[type=checkbox], .model-resource .new ul.category li input[type=checkbox] {
  display: absolute;
  position: absolute;
  left: 8px;
  top: 10px;
  opacity: 1;
}
.model .new ul.category li input[type=checkbox]:checked + label, .model-edit .new ul.category li input[type=checkbox]:checked + label, .model-resource .new ul.category li input[type=checkbox]:checked + label {
  border: 0.15rem solid #f8f4ff;
  background-color: #f8f4ff;
  color: #713fc9;
  transition: all 0.2s;
}
.model .new ul.category li label, .model-edit .new ul.category li label, .model-resource .new ul.category li label {
  display: flex;
  background-color: #fff;
  border: 0.15rem solid #fff;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7333333333);
  white-space: nowrap;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all 0.2s;
  padding: 3px 8px 3px 26px;
  cursor: pointer;
}
.model .new ul.category li label:hover, .model-edit .new ul.category li label:hover, .model-resource .new ul.category li label:hover {
  border: 0.15rem solid #f8f4ff;
  background-color: #f8f4ff;
}
.model .new .close, .model-edit .new .close, .model-resource .new .close {
  position: absolute;
  top: 5px;
  right: 8px;
  cursor: pointer;
}
.model .new .close img, .model-edit .new .close img, .model-resource .new .close img {
  width: 20px;
}
.model .box, .model-edit .box, .model-resource .box {
  position: relative;
  padding: 40px 30px;
  border-radius: 5px;
  margin: auto;
  max-width: 576px;
  min-width: 300px;
  background-color: #f9f9f9;
}
.model .box .close, .model-edit .box .close, .model-resource .box .close {
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 25px;
}
.model .box #profile, .model-edit .box #profile, .model-resource .box #profile {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 40px;
  border-radius: 50%;
  cursor: pointer;
  background: #f4f4f4;
  display: table;
  background-size: cover;
  background-position: center center;
  box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.4);
}
.model .box #profile .dashes, .model-edit .box #profile .dashes, .model-resource .box #profile .dashes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 4px dashed #ddd;
  opacity: 1;
}
.model .box #profile label, .model-edit .box #profile label, .model-resource .box #profile label {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  padding: 0 30px;
  color: grey;
  opacity: 1;
}
.model .box #profile.dragging, .model-edit .box #profile.dragging, .model-resource .box #profile.dragging {
  background-image: none !important;
}
.model .box #profile.dragging .dashes, .model-edit .box #profile.dragging .dashes, .model-resource .box #profile.dragging .dashes {
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-name: spin;
  animation-name: spin;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  opacity: 1 !important;
}
.model .box #profile.dragging label, .model-edit .box #profile.dragging label, .model-resource .box #profile.dragging label {
  opacity: 0.5 !important;
}
.model .box #profile.hasImage .dashes, .model .box #profile.hasImage label, .model-edit .box #profile.hasImage .dashes, .model-edit .box #profile.hasImage label, .model-resource .box #profile.hasImage .dashes, .model-resource .box #profile.hasImage label {
  opacity: 0;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.model .box #file, .model-edit .box #file, .model-resource .box #file {
  position: absolute;
  top: -1000px;
}

.success-model .new, .failed-model .new {
  background-color: #fff;
}
.success-model .new img, .failed-model .new img {
  width: 150px;
}
.success-model .new .close img, .failed-model .new .close img {
  width: 15px;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.1882352941);
  background-color: #f5f5f5;
  height: 40px;
  padding: 0 20px;
}
footer .copyright {
  font-size: 14px;
}
footer .footer-social-list {
  margin: auto;
  float: right;
}
footer .footer-social-list .list-inline {
  padding-left: 0;
  margin-left: -5px;
  list-style: none;
  margin: 0;
  padding: 0;
}
footer .footer-social-list .list-inline li {
  padding: 0;
  float: left;
  margin-left: 10px;
}
footer .footer-social-list .list-inline li a {
  display: grid;
  border: 1px solid #f9f9f9;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  transition: all 0.3s ease-in;
  background: #fff;
  box-shadow: 0 1px 2px rgba(212, 212, 212, 0.35);
}
footer .footer-social-list .list-inline li a:hover {
  background-color: #713fc9;
}
footer .footer-social-list .list-inline li a:hover i {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #fff;
}
footer .footer-social-list .list-inline li a i {
  margin: auto;
  font-size: 16px;
  background-color: #713fc9;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#ui-datepicker-div {
  display: none;
  background-color: #fff;
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
  margin-top: 0.25rem;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.ui-datepicker-calendar thead th {
  padding: 0.25rem 0;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 400;
  color: #78909C;
}

.ui-datepicker-calendar tbody td {
  width: 2.5rem;
  text-align: center;
  padding: 0;
}

.ui-datepicker-calendar tbody td a {
  display: block;
  border-radius: 0.25rem;
  line-height: 2rem;
  transition: 0.3s all;
  color: #546E7A;
  font-size: 0.875rem;
  text-decoration: none;
}

.ui-datepicker-calendar tbody td a:hover {
  background-color: rgba(113, 63, 201, 0.1);
}

.ui-datepicker-calendar tbody td a.ui-state-active {
  background-color: #713fc9;
  color: white;
}

.ui-datepicker-header a.ui-corner-all {
  cursor: pointer;
  position: absolute;
  top: 0;
  width: 2rem;
  height: 2rem;
  margin: 0.5rem;
  border-radius: 0.25rem;
  transition: 0.3s all;
}

.ui-datepicker-header a.ui-corner-all:hover {
  background-color: #ECEFF1;
}

.ui-datepicker-header a.ui-datepicker-prev {
  left: 0;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-size: 0.5rem;
  background-position: 50%;
  transform: rotate(180deg);
}

.ui-datepicker-header a.ui-datepicker-next {
  right: 0;
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: 50%;
}

.ui-datepicker-header a > span {
  display: none;
}

.ui-datepicker-title {
  text-align: center;
  line-height: 2rem;
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
  font-weight: 500;
  padding-bottom: 0.25rem;
}

.ui-datepicker-week-col {
  color: #78909C;
  font-weight: 400;
  font-size: 0.75rem;
}/*# sourceMappingURL=main.css.map */