html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Segoe UI", sans-serif;
  scroll-behavior: smooth !important;
}

a {
  text-decoration: none !important;
  color: #333;
  outline: none !important;
}

* {
  transition: 0.7s;
}

.top-margin-16 {
  margin-top: 16px !important;
}

h1 {
  color: #fff !important;
  font-weight: bold !important;
  font-size: 40px !important;
}
@media (max-width: 576px) {
  h1 {
    font-size: 28px !important;
  }
}

h2 {
  font-size: 40px !important;
  font-weight: bold !important;
  color: #2c3e50 !important;
}
@media (max-width: 576px) {
  h2 {
    font-size: 28px !important;
  }
}

h3 {
  color: #713fc9 !important;
  font-weight: bold !important;
  font-size: 25px !important;
}

h4 {
  font-size: 22px !important;
  font-weight: bold !important;
  color: #2c3e50 !important;
}

h5 {
  margin-top: 0 !important;
  font-size: 20px !important;
  font-weight: bold !important;
  color: #fff !important;
}

h6 {
  font-size: 18px !important;
  font-weight: bold !important;
  color: #fff !important;
  margin: 0 !important;
}

.secondary-color {
  color: #713fc9;
}

.btn-apply {
  color: #fff;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #713fc9;
  background-color: #713fc9;
}
.btn-apply:hover {
  background-color: #5e37a1;
  color: #fff;
}
@media (max-width: 576px) {
  .btn-apply {
    padding: 8px 12 px;
    font-size: 12px;
  }
}

.btn-apply-primary {
  color: #fff;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #4959D8;
  background-color: #4959D8;
}
.btn-apply-primary:hover {
  background-color: #2736a7;
  color: #fff;
}
@media (max-width: 576px) {
  .btn-apply-primary {
    padding: 8px 12 px;
    font-size: 12px;
  }
}

.btn-apply-tertiary {
  color: #fff;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #21395f;
  background-color: #21395f;
}
.btn-apply-tertiary:hover {
  background-color: #132a4e;
  color: #fff;
}
@media (max-width: 576px) {
  .btn-apply-tertiary {
    padding: 8px 12 px;
    font-size: 12px;
  }
}

.btn-apply-outline {
  color: #713fc9;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #713fc9;
  background-color: transparent;
}
.btn-apply-outline:hover {
  background-color: #e5d5ff;
  color: #713fc9;
}

.solid-action-btn {
  color: #fff;
  padding: 8px 24px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 40px;
  border: none;
  background-color: #713fc9;
}
.solid-action-btn:hover {
  background-color: #5e37a1;
  color: #fff;
}

.btn-outline-light {
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid #713fc9;
  color: #713fc9;
}
.btn-outline-light:hover {
  background-color: #713fc9;
  border: 1px solid #713fc9;
  color: #fff;
}

header {
  position: fixed;
  display: grid !important;
  grid-template-columns: 125px auto;
  top: 0;
  right: 0;
  left: 0;
  height: 90px;
  background-color: transparent;
  z-index: 10;
  padding: 0 120px;
}
header .site-name {
  display: grid;
  font-size: 40px;
  color: #fff;
  margin: auto 0;
  font-family: cursive;
}
header .site-name img {
  width: 120px;
}
header .site-name .light-logo {
  display: none;
}
header nav {
  margin: auto 0;
  font-size: 16px;
  font-weight: 600;
  text-align: right;
}
header nav .link {
  position: relative;
  color: #ffffff;
  padding: 10px 12px;
  margin-right: 10px;
  transition: 0s;
}
header nav .link:hover {
  color: #fff;
}
header nav .link:hover .line {
  transform: scale(1);
}
header nav .link i {
  font-size: 20px;
  margin: auto;
  margin-bottom: 2px;
}
header nav .link .more {
  margin-top: 22px;
  transition: 0s;
}
header nav .link .line {
  position: absolute;
  left: 10px;
  bottom: 0;
  right: 10px;
  height: 2px;
  border-radius: 20px;
  background-color: #fff;
  border-radius: 100px;
  transform: scale(0);
}
header nav .active {
  color: #fff;
}
header nav .active .line {
  transform: scale(1);
}
header .btnm {
  display: none;
  margin: auto 0;
}
header .btnm .btnmenu {
  display: block;
  width: 28px;
  float: right;
  margin: auto 0;
  cursor: pointer;
}
header .btnm .btnmenu .bars {
  position: relative;
  display: block;
  height: 3px;
  border-radius: 100px;
  margin-bottom: 5px;
  background-color: #fff;
}
@media (max-width: 768px) {
  header {
    padding: 0 90px;
  }
  header nav {
    display: none;
  }
  header .btnm {
    display: block;
  }
}
@media (max-width: 576px) {
  header {
    padding: 0 16px;
  }
  header nav {
    display: none;
  }
  header .btnm {
    display: block;
  }
}

.scroll-header {
  background-color: #ffffff;
  box-shadow: 0 4px 1rem rgba(75, 19, 70, 0.1019607843);
  height: 80px;
}
.scroll-header .site-name img {
  width: 120px;
}
.scroll-header .site-name .dark-logo {
  display: none;
}
.scroll-header .site-name .light-logo {
  display: block;
}
.scroll-header nav .link {
  color: #4959D8;
}
.scroll-header nav .link:hover {
  color: #4959D8;
}
.scroll-header nav .link .line {
  background-color: #4959D8;
}
.scroll-header .btnm .btnmenu .bars {
  background-color: #4959D8;
}

main {
  position: relative;
  background-image: url(../images/back-clip.png);
  background-size: cover;
  background-position: center;
}
main .top {
  padding-top: 90px;
  height: 80vh;
}
main .top p {
  color: #fff;
}
main .top .intro-img {
  display: flex;
}
main .top .intro-img img {
  width: 65%;
  margin: auto;
}
main .top .cta {
  background-color: #fff;
  color: #4959D8;
}
main .card .icon {
  margin: 0 auto 10px;
}
main .cta {
  color: #fff;
  background-color: #4959D8;
  border-radius: 100px;
  padding: 0.75rem 2.5rem;
  font-weight: 600;
}
main .cta:hover {
  color: #ffffff;
}
@media (max-width: 768px) {
  main .top {
    height: 100%;
  }
}
.card {
  position: relative;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 24px;
  overflow: hidden;
  display: block;
  min-height: 280px;
  border: none;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.1254901961);
}
.card:hover {
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.1607843137);
}
.card .icon {
  height: 64px;
  width: 64px;
  position: relative;
  display: block;
  margin: 0 0 1.5rem;
}
.card .icon img {
  width: 100%;
}
.card .title {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 16px;
  display: block;
  color: #4959D8;
}
.card .text {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

section {
  padding: 80px 0;
  position: relative;
}
section .section-header {
  font-size: 32px !important;
  display: block;
  position: relative;
  margin-bottom: 40px;
}
section .section-header:after {
  content: "";
  display: block;
  width: 60px;
  height: 1px;
  background-color: #713fc9;
  margin: 0.5rem auto 0;
}
section .section-btns {
  margin-top: 20px;
  display: inline-grid;
  grid-gap: 1.2rem;
  grid-template-columns: auto auto;
}
section .section-btns .btn {
  font-size: 16px;
  padding: 8px 26px;
  border-radius: 100px;
}
section .section-btns .btn-common {
  background-color: #4959D8;
  color: #fff;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1607843137);
}
section .section-btns .btn-common:focus {
  color: #4959D8;
  background: 0 0;
  border: 1px dotted #4959D8;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1019607843);
  transition: all 0.2s ease-in-out;
}
section .section-btns .btn-border {
  color: #4959D8;
  background-color: transparent;
  border: 1px solid #4959D8;
  border-radius: 30px;
  text-transform: uppercase;
}
section .section-btns .btn-border:focus {
  color: #fff;
  border-color: #4959D8;
  background-color: #4959D8;
}
section .title-center {
  text-align: center;
}
@media (max-width: 576px) {
  section {
    padding: 40px 0;
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.hero-area {
  padding: 150px 0 80px;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
@media (max-width: 991px) {
  .hero-area {
    min-height: initial;
  }
}
.hero-area .head-title {
  color: #222222;
  font-size: 3.5vw;
  font-weight: 700;
  line-height: 4.5vw;
  margin-bottom: 16px;
}
@media (max-width: 991px) {
  .hero-area .head-title {
    font-size: 40px;
    line-height: 48px;
  }
}
@media (max-width: 767px) {
  .hero-area .head-title {
    font-size: 32px;
    line-height: 40px;
  }
}
.hero-area .sub-title {
  color: rgba(0, 0, 0, 0.5019607843);
  font-size: 24px;
  font-weight: 400;
  line-height: initial;
  margin-bottom: 24px;
  display: block;
}

#what-about .card {
  box-shadow: none;
}
#what-about .card:hover {
  box-shadow: 0 16px 40px rgba(0, 0, 0, 0.1607843137);
}
@media (max-width: 576px) {
  #what-about .card {
    text-align: center;
  }
  #what-about .card .icon {
    margin: 0 auto 1.5rem;
  }
}

.about-heading {
  position: relative;
  margin-top: 80px;
  background-color: #713fc9;
  padding: 20px;
}
.about-heading span {
  font-size: 40px;
  color: #fff;
  font-weight: bold;
}
@media (max-width: 576px) {
  .about-heading {
    padding: 20px 0;
  }
  .about-heading span {
    font-size: 24px;
  }
}

.about, .termscondition {
  position: relative;
  padding: 30px 0 90px;
}

.map {
  height: 360px;
  padding: 0;
}

.contact {
  position: relative;
  width: 100%;
  background-color: #eee;
  padding: 120px 0;
}
.contact .head {
  font-size: 36px;
  padding-bottom: 60px;
  font-weight: 600;
}
.contact .card {
  padding: 20px;
  text-align: center;
  display: grid;
  border: none;
  box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, 0.1882352941);
  min-height: 180px;
}
.contact .card .heading {
  margin: 0 auto;
  font-size: 28px;
  color: #333;
}
.contact .card span {
  font-size: 14px;
  margin: 0 auto;
  color: #585858;
}
.contact .card span strong {
  font-size: 20px;
  margin-bottom: 0px;
}

#mainPage {
  padding-top: 50px;
  min-height: calc(100% - 500px);
}

.lead-form {
  position: relative;
  border-radius: 16px;
  padding: 2rem;
  background-color: rgba(113, 63, 201, 0.8);
  box-shadow: 12px 12px 0px rgba(113, 63, 201, 0.1);
  z-index: 5;
}
.lead-form .form-cover {
  position: relative;
  overflow: hidden;
  margin: -2rem -2rem 1rem;
  height: 250px;
}
.lead-form .form-cover img {
  width: 100%;
  display: block;
}
.lead-form .form-title {
  font-weight: bold;
  color: #fff;
  font-size: 24px;
  display: block;
  text-transform: capitalize;
  position: relative;
}
.lead-form .form-title::after {
  content: "";
  position: relative;
  width: 40px;
  height: 4px;
  background-color: rgba(113, 63, 201, 0.5);
  display: block;
  margin: 1rem 0;
}
.lead-form .form-des {
  color: #fff;
  font-size: 16px;
  opacity: 0.9;
  display: block;
  margin-bottom: 2rem;
}
.lead-form .form-input {
  display: block;
  position: relative;
  margin-bottom: 1rem;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 12px 16px;
  border-radius: 8px;
}
.lead-form .form-input ::-moz-placeholder {
  color: #fff;
}
.lead-form .form-input :-ms-input-placeholder {
  color: #fff;
}
.lead-form .form-input ::placeholder {
  color: #fff;
}
.lead-form .form-input:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.lead-form .form-input label,
.lead-form .form-input input,
.lead-form .form-input textarea {
  display: block;
  color: #fff;
}
.lead-form .form-input label {
  margin-bottom: 0;
  font-size: 12px;
  opacity: 0.8;
}
.lead-form .form-input input,
.lead-form .form-input textarea {
  width: 100%;
  border: none;
  font-size: 16px;
  padding: 0;
  outline: none;
  background-color: transparent;
  font-weight: 500;
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
.lead-form .form-input .filled {
  font-size: 12px;
  top: 8px;
}
.lead-form .form-cta {
  position: relative;
  background-color: #713fc9;
  color: #fff;
  border: none;
  width: 100%;
  padding: 0.8rem 1rem;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 1rem;
  outline: none;
  border-radius: 8px;
}
.lead-form .form-cta:hover {
  filter: brightness(120%);
}
.lead-form .form-cta:active {
  filter: brightness(80%);
}

footer {
  padding: 40px 0;
  z-index: 1;
  background-color: #f9f9f9;
  position: relative;
}
footer .col-sm-12 {
  margin-bottom: 1rem;
}
footer .col-brand img {
  display: block;
  position: relative;
  height: 48px;
  margin-bottom: 1rem;
}
@media (max-width: 768px) {
  footer .col-brand {
    text-align: center;
  }
  footer .col-brand img {
    margin: 0 auto 1rem;
  }
}
footer .copyright {
  font-size: 14px;
  display: block;
}
footer .social-media {
  display: block;
  position: relative;
  margin: 1rem 0 0;
}
footer .social-media a {
  display: inline-block;
  position: relative;
  color: rgba(0, 0, 0, 0.4);
  margin-right: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
}
footer .footer-col-title {
  font-size: 18px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 2rem;
}
footer p {
  color: rgba(0, 0, 0, 0.6);
}
footer .links {
  display: block;
  position: relative;
}
footer .links .link {
  display: block;
  margin: 0 0 0.3rem;
  padding: 5px 0;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
footer .links .link:hover {
  color: black;
  transform: translateX(0.5rem);
}
@media (max-width: 768px) {
  footer .links .link {
    display: inline-block;
    margin: 0 1rem 0 0;
  }
}
footer .subscribe-box {
  border-radius: 100px;
  background-color: #fff;
  display: grid;
  grid-template-columns: auto 120px;
  overflow: hidden;
}
footer .subscribe-box input {
  border: none;
  padding: 8px 16px;
  outline: none;
  width: 100%;
}
footer .subscribe-box input[type=submit] {
  background-color: #713fc9;
  color: #fff;
}

.add-links {
  position: relative;
  display: block;
  padding: 0.5rem 0;
  text-align: center;
  z-index: 1;
  background-color: #fff;
}
.add-links .link {
  display: inline-block;
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  margin: 0 1rem;
}

.setup-faq {
  position: relative;
  padding: 30px 0 90px;
}
.setup-faq .query-box {
  border-radius: 5px;
  overflow: hidden;
  border: thin solid #bbbbbb;
  margin-bottom: 16px;
}
.setup-faq .query-box .question {
  background-color: #bbbbbb;
  padding: 8px 16px;
  font-size: 18px;
}
.setup-faq .query-box .answer {
  padding: 16px;
  background-color: #fefefe;
  color: #707070;
}
.setup-faq .query-box .answer ol {
  padding-right: 1rem;
}
.setup-faq .query-box .answer ol li img {
  width: 100%;
  margin: 16px 0 28px;
  box-shadow: 0 1px 4px 1px rgba(0, 0, 0, 0.1882352941);
}

.am-container {
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 1920px) {
  .am-container {
    max-width: 90%;
  }
}

.searcharea {
  background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(1px);
          backdrop-filter: blur(1px);
  padding: 3rem;
  border-radius: 4px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  min-width: 320px;
  max-width: 767px;
  margin: auto;
}

.search-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 280px;
  max-width: 620px;
  margin: 2rem auto 0;
  border-radius: 2px;
  overflow: hidden;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
.search-box input,
.search-box button {
  display: block;
  box-sizing: border-box;
  padding: 8px 12px;
  border: none;
  width: 100%;
  outline: none;
  font-size: 14px;
}
.search-box .to {
  border-left: thin solid #eee;
}
.search-box button {
  width: 80px;
  background-color: #f27229;
  color: #fff;
  border-color: #f27229;
}
.search-box button:hover {
  filter: brightness(110%);
}

#HelpCenter .search-box {
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.16);
  border: none;
  display: block;
  border-radius: 8px;
  background-color: #fff;
  overflow: initial;
  max-width: 100%;
  min-width: 100%;
  position: relative;
}
#HelpCenter .search-box .btnSearch {
  position: absolute;
  top: 0;
  right: 0;
  height: 48px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #fff;
  width: 52px;
}
#HelpCenter .search-box .btnSearch i {
  font-size: 14px;
  border-radius: 24px;
  color: rgba(0, 0, 0, 0.5);
  position: relative;
}
#HelpCenter .search-input {
  padding: 1rem;
  padding-right: 52px;
  border-radius: 8px;
  height: 48px;
}
#HelpCenter .search-input:focus {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
#HelpCenter .search-input:focus ~ .suggest-result li {
  display: block;
}
#HelpCenter .search-input:focus ~ .suggest-result .result-header {
  display: flex;
}

.suggest-result {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 1000;
  max-height: 250px;
  overflow: auto;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.05);
}
.suggest-result::-webkit-scrollbar {
  background-color: transparent;
  border-radius: 100px;
  overflow: hidden;
  width: 6px;
}
.suggest-result::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 100px;
}
.suggest-result::-webkit-scrollbar-thumb:hover {
  background-color: #4959d8;
}
.suggest-result li {
  display: none;
}
.suggest-result li:hover {
  background-color: rgba(0, 0, 0, 0.04);
}
.suggest-result .result-header {
  padding: 0.5rem 1rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}
.suggest-result .result-header:hover {
  background-color: #fff;
}

.result-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.result-header small,
.result-header button {
  font-size: 14px;
}
.result-header button {
  padding: 0;
  width: initial;
  padding-left: 1rem;
  color: #713fc9;
  text-transform: uppercase;
  background-color: transparent;
  outline: none;
  font-weight: 500;
}

.result-item a {
  padding: 0.5rem 1rem;
  display: flex;
  color: #000;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.result-item a::after {
  display: none;
  content: "\ea5c";
  height: 16px;
  width: 16px;
  font-size: 12px;
  border-radius: 24px;
  color: rgba(0, 0, 0, 0.2);
  font: normal normal normal 1em/1 "LineIcons";
}
.result-item a:hover::after {
  display: initial;
}

.help-card {
  padding: 1.5rem 1rem;
  display: flex;
  height: 100%;
  border-right: thin solid #eee;
}
@media (max-width: 991px) {
  .help-card {
    border-right: none;
    border-bottom: thin solid #eee;
  }
}
.help-card .icon {
  width: 52px;
  height: 52px;
  border-radius: 100px;
  margin-right: 1rem;
}
.help-card .icon img {
  width: 100%;
}
.help-card .content {
  display: block;
  width: calc(100% - 80px);
}
.help-card .content a {
  display: block;
  margin-bottom: 0.5rem;
}
.help-card .content a:hover {
  color: #4959D8;
}
.help-card .content .heading {
  color: #713fc9;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}
.help-card .content .text {
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  line-height: 24px;
}
.help-card .content .body {
  margin-bottom: 20px;
  min-height: 150px;
}
@media (max-width: 991px) {
  .help-card .content .body {
    min-height: initial;
  }
}
.help-card .content .cta {
  color: #713fc9;
  text-transform: capitalize;
  display: inline-block;
  font-weight: 500;
  position: relative;
  margin-top: 1rem;
}
.help-card .content .cta i {
  margin-left: 0.24rem;
  font-size: 12px;
}

.border-right {
  border-right: thin solid #eee;
}

.border-bottom {
  border-bottom: thin solid #eee;
}

.supportArticle {
  position: relative;
}
.supportArticle .devide {
  border-bottom: thin solid #eee;
}
@media (max-width: 991px) {
  .supportArticle .devide {
    border-bottom: none;
  }
}
.supportArticle .row .col-sm-12:last-child .help-card {
  border-right: none;
}

.faq-list {
  position: relative;
  display: block;
}
.faq-list .section-title {
  font-size: 16px;
  margin: 1rem 0 1rem;
  opacity: 1;
}
.faq-list .faq-list-item {
  background-color: #fff;
  border-bottom: thin solid #eee;
  padding: 16px 0;
  margin-bottom: 0.8rem;
}
.faq-list .faq-list-item .ques {
  text-align: left;
  background-color: transparent;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  font-family: "Open Sans", sans-serif;
  border: none;
  width: 100%;
  outline: none;
}
.faq-list .faq-list-item .ques[aria-expanded=true] {
  font-weight: bolder;
}
.faq-list .faq-list-item .ques[aria-expanded=true] i {
  transform: rotateX(180deg);
}
.faq-list .faq-list-item .collapse {
  opacity: 0.6;
}
.faq-list .faq-list-item .collapse,
.faq-list .faq-list-item .collapsing {
  font-size: 16px;
  line-height: 24px;
  padding-top: 0.5rem;
  color: #000;
}
.faq-list .faq-list-item .collapse ul,
.faq-list .faq-list-item .collapsing ul {
  list-style: initial !important;
}

#plan {
  align-items: unset;
}
#plan .card {
  text-align: center;
  padding: 16px;
  height: 100%;
}
#plan .card .title {
  font-size: 28px;
}
#plan .card .pricing {
  font-size: 34px;
  font-weight: bold;
  margin: 16px 0;
}
#plan .card .pricing span {
  font-size: 18px;
}
#plan .card .range-box {
  padding: 16px 0;
  height: 113px;
}
#plan .card .range-box .offer {
  color: #707070;
  font-size: 18px;
  font-weight: 600;
}
#plan .card .features {
  text-align: left;
  padding: 16px 0;
}/*# sourceMappingURL=style.css.map */